@import "tailwindcss";

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px; 
  font-family: sans-serif;
  font-size: x-large;
}

/* Animation for background color transition */
@keyframes colorAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s; 
  transform-style: preserve-3d; /* Ensures  3D rendering */
}

/* Flip effect when hovered */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2); 
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; /* Hides the back side when not visible */
}
.flip-card-back{
  padding: 2rem;
}

.flip-card-front {
  background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(145deg, transparent 15%,#ffc5dd, #40c9ff) border-box;
  border: 4px solid transparent;
  padding: 3rem;
}

/* Back side gradient animation */
.flip-card-back {
  background: linear-gradient(270deg, #ce68d9, #45c6db, #45db79);
  background-size: 400% 400%;
  animation: colorAnimation 5s ease infinite;
  color: white;
  transform: rotateY(180deg); 
}

.overflow-x-auto {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #6a5acd transparent;
  padding-bottom: 10px;
}

.challenge-button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fa6975;
  transition: all 0.5s ease;
  font-size: large;
  position: relative;
  overflow: hidden;
  outline: 2px solid #f98691;           
  background-color: rgb(255, 255, 255);            
  box-shadow: 3px 4px 10px -4px #892c35;
  margin-top: 10px;
}

.challenge-button:hover {
  color: #ffffff;
  transform: scale(1.2);
  outline: 2px solid #d84339;
  box-shadow: 4px 5px 17px -4px #a1342c;
}

.challenge-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #f93030;
  transform: skewX(45deg); 
  z-index: -1;
  transition: width 0.5s ease;
}

.challenge-button:hover::before {
  width: 250%;
}
