@import "tailwindcss";

@tailwind utilities;

body {
  @apply bg-gradient-to-br from-sky-200 to-rose-200; 
  /* overflow-hidden; */
  font-family: "Jua", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jua", sans-serif;
}

p, span, a, button {
  font-family: "Jua", sans-serif;
}

.font-sour-gummy {
  font-family: "Sour Gummy", sans-serif;
}

@keyframes colorAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-text {
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  background-size: 400% 400%;
  animation: colorAnimation 5s ease infinite;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.animated-navbar {
  background: linear-gradient(to right, #f8b195, #f67280, #c06c84);
  background-size: 400% 400%;
  animation: colorAnimation 5s ease infinite;
}


