@import "tailwindcss";

@tailwind utilities;

body {
  @apply bg-gradient-to-br from-pink-200 to-blue-200; 
  /* overflow-hidden; */
  font-family: "Jua", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Jua", sans-serif;
}

p, span, a, button {
  font-family: "Jua", sans-serif;
}

